<!--<%@ page import="it.academy.dto.StudentDTO" %>-->
<!--<%@ page import="java.util.List" %>-->
<!--<%@ page import="static it.academy.utils.Constants.PAGE_NUMBER" %>-->
<!--<%@ page import="static it.academy.utils.Constants.STUDENTS" %>-->
<!--<%@ page import="static it.academy.utils.Constants.*" %>-->
<!--<%@ page import="it.academy.dto.UserDTO" %>-->
<!--<%@ page contentType="text/html;charset=UTF-8" language="java" %>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<head>
    <meta charset="UTF-8">
<%--    <!--    <%&#45;&#45;    <meta name="viewport" content="width=device-width, initial-scale=1.0">&#45;&#45;%>-->--%>
    <link rel="stylesheet" href="../css/style.css">
    <title>Список студентов</title>
</head>
<body>
<section>
    <div class=" container">

                <%
                String userEmail = ((UserDTO) session.getAttribute(USER)).getEmail();
                int pageNumber = request.getAttribute(PAGE_NUMBER) == null ? FIRST_PAGE : (int) request.getAttribute(PAGE_NUMBER);
                int maxPageNumber = request.getAttribute(MAX_PAGE) == null ? FIRST_PAGE : (int) request.getAttribute(MAX_PAGE);
                List<StudentDTO> list = (List<StudentDTO>) request.getAttribute(STUDENTS);
                %>

        <div class="header-container">
            <div class="header-el">
                <h1>Список студентов</h1>
            </div>
            <div class="header-el">
                <h2><%=userEmail%></h2>
            </div>
        </div>

        <form action="list" method="post">
            <input type="hidden" name="command" value="find_students">
            <input type="hidden" name="page" value="<%=pageNumber%>">
            <input class="search" type="search" name="param" placeholder="Поиск">
            <select class="filter" name="filter" size="1">
                <option selected value="<%=NAME%>">Имя</option>
                <option selected value="<%=STUDENT_SURNAME%>">Фамилия</option>
                <option selected value="<%=STUDENT_AGE%>">Возраст</option>
                <option selected value="<%=STUDENT_MARK%>">Оценка</option>
                <option selected value="<%=STUDENT_ADDRESS%>">Адрес</option>
            </select>
            <input class="button light" type="submit" value="Найти">
        </form>

    </div>

    <div class="container main">

        <div class="menu-container">
            <fieldset class="f1">
                <legend>Компания</legend>
                <button class="button button-fieldset"> Добавить аккаунт </button>
                <button class="button button-fieldset"> Список ролей </button>
                <button class="button button-fieldset"> Список текущих администраторов </button>
                <button class="button button-fieldset"> Список заблокированных администраторов </button>
            </fieldset>

            <fieldset class="f1">
                <legend>Сервисные центры</legend>
                <button class="button button-fieldset"> Список текущих сервисных центров </button>
                <button class="button button-fieldset"> Список заблокированных сервисных центров </button>
            </fieldset>

            <fieldset class="f1">
                <legend>Устройства</legend>
                <button class="button button-fieldset"> Список моделей </button>
                <button class="button button-fieldset"> Список брэндов </button>
                <button class="button button-fieldset"> Список типов </button>
                <button class="button button-fieldset"> Список дефектов</button>
            </fieldset>

            <fieldset class="f1">
                <legend>Запчасти</legend>
                <button class="button button-fieldset"> Список запчастей</button>
                <button class="button button-fieldset"> Список заказов запчатей</button>
            </fieldset>

            <fieldset class="f1">
                <legend>Ремонты</legend>
                <button class="button button-fieldset"> Список статусов</button>
                <button class="button button-fieldset"> Список категорий</button>
                <button class="button button-fieldset"> Список типов</button>
            </fieldset>

            <fieldset class="f1">
                <legend>Заявки</legend>
                <button class="button button-fieldset"> Создание новой заявки </button>
                <button class="button button-fieldset"> Оформленные заявки </button>
                <button class="button button-fieldset"> Текущие заявки </button>
                <button class="button button-fieldset"> Ожидание запчастей</button>
                <button class="button button-fieldset"> Выполненные заявки</button>
                <button class="button button-fieldset"> Оплаченные заявки </button>
                <button class="button button-fieldset"> Выданные аппараты </button>
                <button class="button button-fieldset"> Заявки с запчатями</button>
                <button class="button button-fieldset"> Предторг </button>
                <button class="button button-fieldset"> Платные заявки </button>
                <button class="button button-fieldset"> Списанные аппараты</button>
                <button class="button button-fieldset"> Отклонённые завки</button>
            </fieldset>

        </div>

        <div class="table-container">
            <!--            <table>-->
            <!--                <tr>-->
            <!--                    <th>Имя</th>-->
            <!--                    <th>Фамилия</th>-->
            <!--                    <th>Возраст</th>-->
            <!--                    <th>Оценка</th>-->
            <!--                    <th>Город</th>-->
            <!--                    <th>Улица</th>-->
            <!--                    <th>Дом</th>-->
            <!--                    <th class="menu">Управление</th>-->
            <!--                </tr>-->

            <!--                &lt;!&ndash;            <% for (StudentDTO student : list) { %>&ndash;&gt;-->
            <!--                <tr>-->
            <!--                    <td><%=student.getName()%>-->
            <!--                    </td>-->
            <!--                    <td><%=student.getSurname()%>-->
            <!--                    </td>-->
            <!--                    <td class="number"><%=student.getAge()%>-->
            <!--                    </td>-->
            <!--                    <td class="number"><%=student.getMark()%>-->
            <!--                    </td>-->
            <!--                    <td><%=student.getCity()%>-->
            <!--                    </td>-->
            <!--                    <td><%=student.getStreet()%>-->
            <!--                    </td>-->
            <!--                    <td class="number"><%=student.getHouseNumber()%>-->
            <!--                    </td>-->
            <!--                    <td>-->
            <!--                        <div class="button-container">-->
            <!--                            <form action="list" method="post">-->
            <!--                                <input type="hidden" name="command" value="change_student">-->
            <!--                                <input type="hidden" name="id" value="<%=student.getId()%>">-->
            <!--                                <input type="hidden" name="page" value="<%=pageNumber%>">-->
            <!--                                <input class="button" type="submit" value="Изменить">-->
            <!--                            </form>-->
            <!--                            <form action="list" method="post">-->
            <!--                                <input type="hidden" name="command" value="delete_student">-->
            <!--                                <input type="hidden" name="id" value="<%=student.getId()%>">-->
            <!--                                <input type="hidden" name="page" value="<%=pageNumber%>">-->
            <!--                                <input class="button" type="submit" value="Удалить">-->
            <!--                            </form>-->
            <!--                        </div>-->
            <!--                    </td>-->
            <!--                </tr>-->
            <!--                &lt;!&ndash;            <% } %>&ndash;&gt;-->
            <!--            </table>-->
        </div>


    </div>

    <!--    <div class="footer">-->
    <!--        <form action="list" method="post">-->
    <!--            <input type="hidden" name="command" value="change_student">-->
    <!--            <input type="hidden" name="id" value="0">-->
    <!--            <input type="hidden" name="addressId" value="0">-->
    <!--            <input type="hidden" name="page" value="<%=pageNumber%>">-->
    <!--            <input class="button add" type="submit" value="Добавить">-->
    <!--        </form>-->
    <!--    </div>-->

    <div class="button-container">
        <form action="list" method="post">
            <input type="hidden" name="command" value="show_students">
            <%int prevPage = pageNumber - 1;%>
            <input type="hidden" name="page" value="<%=Math.max(prevPage, FIRST_PAGE)%>">
            <input class="button light" type="submit" name="button" value="Предыдущая">
        </form>

        <p><%=pageNumber%>
        </p>

        <form action="list" method="post">
            <input type="hidden" name="command" value="show_students">
            <%int nextPage = pageNumber + 1;%>
            <input type="hidden" name="page" value="<%=Math.min(nextPage, maxPageNumber)%>">
            <input class="button light" type="submit" name="button" value="Следующая">
        </form>
    </div>
</section>
</body>